body
{
    background-color: rgba(0, 128, 36, 0.707);
}
.flex-container{
  display: flex;
  /* position: absolute; */
  font-family: 'Times New Roman';
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  background-color: rgba(245, 245, 245, 0.916);
  padding: 100px;
  width: 80%;
  height: 200px;

}
.heading
{
  font-family: 'Times New Roman';
  justify-content: center;
  text-align: center;

}